@{
    ViewData["Title"] = "Profil Bilgilerimi Güncelle";
}

<h1>Hoş geldin @User.Identity.Name</h1>

<!--
    server'a formdan dosya göndermek için formun enctype attributesinin değerini  multipart/form-data olarak vermelisiniz...
    -->

<form asp-action="UpdatePhoto" asp-controller="Account" method="post" enctype="multipart/form-data">

    <input type="file" name="File" /> <!--formdan veri göndermek için kullanılır...-->
    <input type="submit" value="Profil Foto Güncelle" />

</form>
